[submodule "games/default"]
	path = games/default
	url = https://github.com/freeminer/default.git
[submodule "src/IrrOculusVR"]
	path = src/IrrOculusVR
	url = https://github.com/Suvidriel/IrrOculusVR
